# Ignore bundler config.
/.bundle
#/Gemfile.lock

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/config/database.yml
#/config/facebook_app.yml
#doc/
*.swp
*~
.project
.DS_Store
.idea
.secret
.test_user_password
*.sublime-project
*.sublime-workspace
/storage
/.idea
.tags*
.gemtags
